// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background-size: cover;
}

.hello {
  float: left;
  position: absolute;
  top: 238px;
  left: 70px;
  color: yellow;
  font-size: 4.3em;
}
